[databases]
{% for db in pgbouncer_databases %}
{{ db.name }} = {% for key, value in db.items() %}{% if key != 'name' %}{{ key }}={{ value }} {% endif %}{% endfor %}
{% endfor %}

[pgbouncer]
; ip address or * which means all ip-s
listen_addr = {{ pgbouncer_listen_addr }}
listen_port = {{ pgbouncer_listen_port }}

;;;
;;; Authentication settings
;;;

; any, trust, plain, crypt, md5
auth_type = {{ pgbouncer_auth_type }}
auth_file = {{ pgbouncer_auth_file }}

;;;
;;; Administrative settings
;;;

logfile = {{ pgbouncer_logfile }}
pidfile = {{ pgbouncer_pidfile }}

;;;
;;; Users allowed into database 'pgbouncer'
;;;

; comma-separated list of users, who are allowed to change settings
admin_users = {{ pgbouncer_admin_users | join(', ') }}
